.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.auth input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: green;
    padding: 10px;
    width:200px;
    border-bottom: 2px solid green;
    margin: auto;
}

.logIn-btn{
    width: 200px;
    height: 50px;
    border: none;
    margin-top: 20px;
    background-color: #000000;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

