body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: green;
  position: absolute;
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-header {
  text-align: center;
  background-color: #000000;
  color: green;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.sign-out button {
  all: unset;
  margin-right: 30px;
  cursor: pointer;
}
.sign-out button{
}

.app-container {
  width: 100%;
  position: relative;
}

.room {
}

.room label {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.room input {
  width: 200px;
  height: 30px;
  padding-left: 5px;
  font-size: 20px;
  margin: 5px;
  background-color: #000000;
  color: green;
  border: 0px;
  border-bottom: 1px solid green;
}
.room button {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}


.logIn-btn{
  cursor: pointer;
  width:fit-content;
  color: azure;
  background-color:#282c34;
  border: none;
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: mainFont;
  font-size: 20px;
  padding:8px 30px 6px 30px; 
  border-radius: 12px;

}
.logIn-btn:hover{
  background: #1d232d;
  transition: 0.5s;
}
.logIn-btn img{
  width: 30px;
}